{% extends 'leaveSystem/layout.html' %}

{% block body %}

<ul>
{% if application %}
    <h1>Name: {{application.name}}</h1>
    <h1>Start Date: {{application.fromDate}}</h1>
    <h1>To Date: {{application.toDate}}</h1>
    {% if application.status == -1 %}
        <p>Pending</p>
    {% elif application.status == 0 %}
        <p>Rejected</p>
    {% else %}
        <p>Approved</p>
    {% endif %}
{% else %}
    <h1>No applications</h1>
    <a href="{% url 'application' %}">Leave Application</a>
{% endif %}

<p><a href="{% url 'logout' %}">(logout)</a></p>
{% endblock %}